In [1]:
import pandas as pd
import numpy as np

In [5]:
df_edn_level = pd.read_csv('./raw-data/Kiron Supplementary Data.xlsx - Educational Level of Migrants.csv')
df_over_qual = pd.read_csv('./raw-data/Kiron Supplementary Data.xlsx - Over qualification.csv')
df_popn = pd.read_csv('./raw-data/Kiron Supplementary Data.xlsx - Population in Education.csv')
df_students = pd.read_csv('./raw-data/kiron_students_cleaned.xlsx - kiron students cleaned.csv')

In [4]:
# ISCED11 0: Early childhood Education
# ISCED11 1: Primary education
# 2: Lower secondary education
# 3: Upper secondary education
# 4: Post-secondary non-tertiary education
# 5: Short-cycle tertiary education
# 6: Bachelor or equivalent
# 7: Master or equivalent
# 8: Doctoral or equivalent
df_edn_level

,Unnamed: 0,ISCED11 0,ISCED11 1,ISCED11 2,ISCED11 3,ISCED11 4,ISCED11 6/7,ISCED11 8,Number graduated
0,total,17,21.0,20.0,26.0,3.0,11.0,1.0,61.0
1,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,16,22.0,21.0,26.0,4.0,10.0,1.0,62.0
3,Female,23,18.0,16.0,26.0,1.0,14.0,1.0,58.0
4,Nationality,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Syria,8,20.0,20.0,32.0,2.0,15.0,2.0,71.0
6,Afghanistan,34,21.0,14.0,20.0,4.0,4.0,0.0,42.0
7,Iraq,24,26.0,19.0,17.0,1.0,11.0,1.0,49.0
8,"Albania, Serbia, Kosovo",14,24.0,25.0,14.0,21.0,1.0,0.0,60.0
9,"Eritrea, Somalia",19,39.0,24.0,13.0,1.0,4.0,0.0,42.0
10,"Iran, Pakistan",10,10.0,26.0,42.0,3.0,9.0,0.0,79.0
11,Other,23,18.0,18.0,24.0,4.0,12.0,1.0,59.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Figure,Percentage of total students 18 years and olde...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ref,http://doku.iab.de/forschungsbericht/2017/fb13...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_over_qual

,Category,Level,Percentage
0,Total,Below qualifications,31.0
1,Total,Adequate,44.0
2,Total,Over Qualifications,25.0
3,Women,Below qualifications,29.0
4,Women,Adequate,55.0
5,Women,Over Qualifications,16.0
6,Men,Below qualifications,32.0
7,Men,Adequate,43.0
8,Men,Over Qualifications,25.0
9,Specialists and experts,Below qualifications,81.0
10,Specialists and experts,Adequate,19.0
11,Specialists and experts,Over Qualifications,0.0
12,Skilled,Below qualifications,45.0
13,Skilled,Adequate,52.0
14,Skilled,Over Qualifications,3.0
15,Semi- and unskilled,Below qualifications,0.0
16,Semi- and unskilled,Adequate,51.0
17,Semi- and unskilled,Over Qualifications,49.0
18,NaN,NaN,NaN
19,Figure,Congruence between qualification of refugees a...,NaN
20,Ref,https://www.bamf.de/SharedDocs/Anlagen/EN/Publ...,NaN

In [7]:
df_popn

,Eudcation,Gender,Percentage of individuals 18 and above
0,Total,Men,11.0
1,Total,Women,5.0
2,Total,Total,10.0
3,School,Men,2.0
4,School,Women,2.0
5,School,Total,2.0
6,University (of applied science),Men,2.0
7,University (of applied science),Women,0.0
8,University (of applied science),Total,1.0
9,Apprenticeship,Men,6.0
10,Apprenticeship,Women,2.0
11,Apprenticeship,Total,5.0
12,Occupational Training,Men,1.0
13,Occupational Training,Women,1.0
14,Occupational Training,Total,1.0
15,NaN,NaN,NaN
16,Figure title,Participation in the general or occupational e...,NaN
17,reference,https://www.bamf.de/SharedDocs/Anlagen/EN/Publ...,NaN

In [8]:
df_students

,gender,age,student_since,nationality,school_education,attended_university
0,male,35,10/17/2015,Syrian Arab Republic,Upper secondary education (11-13 school years),FALSE\t
1,male,43,11/12/2015,Nigeria,NaN,\t
2,male,35,10/17/2015,Syrian Arab Republic,Upper secondary education (11-13 school years),\t
3,male,26,1/13/2016,Iran (Islamic Republic of),Upper secondary education (11-13 school years),\t
4,male,34,10/22/2015,Kenya,NaN,\t
5,male,29,3/31/2016,Syrian Arab Republic,NaN,\t
6,male,33,10/17/2015,Somalia,Primary education (4-7 school years),\t
7,male,25,10/16/2015,Afghanistan,Upper secondary education (11-13 school years),TRUE\t
8,male,26,6/29/2018,"Palestine, State of",NaN,NaN
9,female,24,10/16/2015,Syrian Arab Republic,NaN,\t
10,male,21,11/6/2015,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
11,male,27,4/22/2016,Syrian Arab Republic,NaN,\t
12,male,27,10/16/2015,Syrian Arab Republic,Upper secondary education (11-13 school years),\t
13,male,24,10/17/2015,Lebanon,Upper secondary education (11-13 school years),\t
14,male,31,10/17/2015,Chad,Upper secondary education (11-13 school years),TRUE\t
15,male,32,4/22/2016,Syrian Arab Republic,NaN,\t
16,male,27,10/17/2015,Russian Federation,NaN,\t
17,male,43,10/20/2015,Syrian Arab Republic,NaN,\t
18,male,31,10/16/2015,Nigeria,Upper secondary education (11-13 school years),TRUE\t
19,male,29,10/16/2015,Yemen,NaN,\t
20,male,24,10/17/2015,Syrian Arab Republic,NaN,\t
21,male,23,11/12/2015,Gambia,NaN,\t
22,male,35,10/17/2015,Syrian Arab Republic,NaN,\t
23,female,29,10/16/2015,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
24,female,26,10/16/2015,Syrian Arab Republic,NaN,\t
25,female,26,10/16/2015,Syrian Arab Republic,NaN,\t
26,female,32,11/7/2015,Syrian Arab Republic,NaN,\t
27,male,25,12/19/2016,Egypt,NaN,\t
28,male,35,10/16/2015,Iran (Islamic Republic of),Upper secondary education (11-13 school years),\t
29,male,34,10/17/2015,Syrian Arab Republic,NaN,\t
...,...,...,...,...,...,...
6430,female,27,6/5/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),FALSE\t
6431,male,25,6/5/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6432,male,43,6/6/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6433,male,28,6/5/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6434,male,25,6/5/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6435,male,36,6/10/2019,Germany,Upper secondary education (11-13 school years),TRUE\t
6436,female,27,6/7/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6437,male,30,6/6/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6438,male,30,6/8/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6439,male,25,6/11/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6440,male,23,6/10/2019,Jordan,Upper secondary education (11-13 school years),TRUE\t
6441,male,46,6/10/2019,Iraq,Upper secondary education (11-13 school years),TRUE\t
6442,male,33,6/7/2019,Turkey,Lower secondary education (7-11 school years),FALSE\t
6443,male,35,6/5/2019,Sudan,Upper secondary education (11-13 school years),TRUE\t
6444,female,21,6/6/2019,Tunisia,Upper secondary education (11-13 school years),FALSE\t
6445,male,23,6/8/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6446,female,21,6/6/2019,Tunisia,Upper secondary education (11-13 school years),TRUE\t
6447,male,34,6/5/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6448,female,25,6/5/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6449,female,23,6/5/2019,Tunisia,Upper secondary education (11-13 school years),TRUE\t
6450,male,28,6/5/2019,Tunisia,Upper secondary education (11-13 school years),TRUE\t
6451,female,24,6/7/2019,Tunisia,Upper secondary education (11-13 school years),TRUE\t
6452,male,29,6/5/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6453,male,25,6/6/2019,Sudan,Upper secondary education (11-13 school years),FALSE\t
6454,male,38,6/5/2019,Iraq,Upper secondary education (11-13 school years),TRUE\t
6455,male,35,6/5/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6456,female,20,6/8/2019,Syrian Arab Republic,Upper secondary education (11-13 school years),TRUE\t
6457,male,28,6/8/2019,Turkey,Upper secondary education (11-13 school years),TRUE\t
6458,male,25,6/10/2019,Yemen,NaN,\t
6459,male,31,6/5/2019,Congo (Democratic Republic of the),NaN,\t

In [18]:
country_count = pd.DataFrame(df_students.groupby('nationality')['student_since'].count()).reset_index()\
    .rename(columns={'student_since': 'count'}).sort_values('count', ascending=False)
country_count.to_csv('./processed-dat/country_count.csv', index=False)